*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.main-app{
    
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.header{
    background-color: rgb(220, 255, 24);
    height: 200px;
    width:100%;
    margin: 0px;
}
h1{
    text-align: center;
    padding-top: 25px;
    width: auto;
    padding-bottom: 20px;
    
}
marquee{
    font-family: fantasy;
}
.main{
    background-color:mediumpurple;
    height: 600px;
    width: 100%;

}
.departments{
    width:100%;
    height: 220px;
}
.departments-link{
    width:100%;
    height: 20px;
}
.dept1{
    margin-top: 15px;
    height: 200px;
    width:20%;
    border: sandybrown solid;
    float: left;
    border-radius: 25px;
    margin-left: 7%;
    
}
.tree{
    height: 100%;
    width: 100%;
    border-radius: 25px;
}
.dept2{
    height: 200px;
    width:20%;
    border: sandybrown solid;
    float: left;
    margin-top: 15px;
    border-radius: 25px;
    margin-left: 12%;
    background-image: url("formi.png");
    background-position: center;
}
.form{
    height: 100%;
    width: 100%;
    border-radius: 25px;
}
.dept3{
    height: 200px;
    width:20%;
    border: sandybrown solid;
    float: left;
    margin-top: 15px;
    border-radius: 25px;
    margin-left: 10%;
   font-weight: bold;
}
   
.money{
    height: 100%;
    width: 100%;
    border-radius: 25px;
}
.dept1-link{
    margin-top: 15px;
    height: 30px;
    width:20%;
    border: sandybrown solid;
    border-radius: 20px;
    float: left;
    margin-left: 7%;
    background-color: black;
    padding: 2px;
}
.dept2-link{
    height: 30px;
    width:20%;
    border: sandybrown solid;
    float: left;
    margin-top: 15px;
    border-radius: 20px;
    margin-left: 12%;
    background-color: black;
    padding: 2px;
}


.dept3-link{
    height: 30px;
    width:20%;
    border: sandybrown solid;
    float: left;
    margin-top: 15px;
    border-radius: 20px;
    margin-left: 10%;
    background-color: black;
    padding: 2px;
}
a{
    color: red;
    font-weight: bold;
}
a:hover{
    background-color:darkblue;
}
.dept1-link:hover{
    
    background-color:darkblue;
}
.dept2-link:hover{
    
    background-color:darkblue;
}
.dept3-link:hover{
    
    background-color:darkblue;
}

.footer{
    height: 250px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(82, 11, 112);
    padding: 30px;

}
h2{
    color: greenyellow;
}
p{
    color: lightcyan;
}
